<template>
	<div class="form-todo absolute inset-0 overflow-y-auto bg-black bg-opacity-30 h-screen">
		<div class="bg-slate-100 border border-slate-50 rounded-md px-3 py-1">
			<form class="flex flex-col py-3">
				<div class="flex flex-col space-y-1">
					<label for="title">Title</label>
					<input
						type="text"
						v-model="title"
						id="title"
						class="py-2 px-2 rounded-md border border-slate-200" />
				</div>
				<div class="flex flex-col mt-3 space-y-1">
					<label
						for="userId"
						class=""
						>User Id</label
					>
					<input
						type="number"
						v-model="userId"
						min="1"
						max="5"
						class="py-2 px-2 rounded-md border border-slate-200" />
				</div>
				<button class="bg-blue-600 text-slate-100 rounded-md px-4 py-1.5 max-w-fit mx-auto mt-3">Enregistrer</button>
			</form>
			<button
				@click="$emit('onClose')"
				class="absolute top-2 right-3">
				Close
			</button>
		</div>
	</div>
</template>

<script setup lang="ts">
	import { ref } from "vue";
	const emit = defineEmits(["onClose"]);
	const title = ref("");
	const userId = ref(1);
</script>

<style></style>
