<template>
	<input
		type="text"
		v-model="title" />{{ title }}
</template>

<script>
	import { ref } from "vue";

	export default {
		setup() {
			const title = ref("");
			return {
				title,
			};
		},
	};
</script>

<style></style>
