<template>
	<nav class="flex justify-between items-center">
		<div class="flex border border-slate-300 rounded-md">
			<input
				type="text"
				v-model="search"
				class="border border-slate-100 focus:outline-none rounded-tl-md rounded-bl-md px-1 py-1"
				placeholder="Entrer le tittre à rechercher" />
			<button class="px-2 text-slate-600">Search</button>
		</div>
		<div class="navbar__actions flex space-x-1 ml-auto">
			<button
				class="px-3 py-1 bg-blue-600 text-slate-100 rounded-md border border-slate-100 hover:bg-blue-800 flex-1"
				@click="show = true">
				Nouveau
			</button>
			<select
				class="focus:outline-none ring-0 rounded-md"
				v-model="optionFilter">
				<option value="all">All</option>
				<option value="completed">Completed</option>
				<option value="uncompled">Not Completed</option>
			</select>
		</div>
		<div class="">
			<Teleport to="#modal">
				<FormTodo
					v-on:onClose="show = false"
					v-if="show" />
			</Teleport>
		</div>
	</nav>
</template>

<script>
	import { ref } from "vue";
	import FormTodo from "./FormTodo.vue";

	export default {
		components: {
			FormTodo,
		},
		setup(props) {
			const search = ref("");
			const show = ref(true);
			const optionFilter = ref("all");
			return {
				search,
				show,
				optionFilter,
			};
		},
	};
</script>

<style scoped></style>
