<template>
	<div class="container border border-red-500">
		<TodoNavBar class="container__navbar" />
		<TodoListView :todos="todoState.todos" />
	</div>
</template>

<script setup lang="ts">
	import { ref, onBeforeMount } from "vue";
	import { useStore } from "vuex";

	import TodoNavBar from "./TodoNavBar.vue";
	import TodoListView from "./TodoListView.vue";

	const store = useStore();
	const todoState = ref(store.state.todo);
	onBeforeMount(() => {
		store.dispatch("todo/getTodos", { page: 1, pageSize: 10 });
	});
</script>

<style scoped lang="scss">
	.container {
		&__navbar {
			margin-block-end: 1rem;
		}
	}
</style>
