<template>
	<div :class="[`todo-item ${todo.completed ? 'todo-item--completed' : ''}`]">{{ todo.title }}</div>
</template>

<script>
	export default {
		props: ["todo"],
		setup(props) {},
	};
</script>

<style scoped>
	.todo-item {
		padding: 1rem;
		border: 1px solid #eee;
		margin-bottom: 0.2rem;
	}
	.todo-item--completed {
		color: red;
	}
</style>
