<template>
	<div>
		<TodoItem
			v-for="todo in todos"
			:key="todo.id"
			:todo="todo" />
	</div>
</template>

<script lang="ts" setup>
	import { TodoModel } from "../../models/todo/todo.model";
	import TodoItem from "./TodoItem.vue";
	const props = defineProps<{
		todos: TodoModel;
	}>();
</script>

<style></style>
