<script setup lang="ts">
	import { TodoContainer } from "./views/todo";
</script>

<template>
	<div>
		<TodoContainer class="todo-container" />
	</div>
</template>

<style scoped>
	.todo-container {
		width: 600px;
		padding: 1rem;
	}
</style>
